<ul class="nav navbar-nav navbar-right" >
	<li>
		@Html.ActionLink("Register","Register","Login",null,null)
	</li>
	<li>
		@Html.ActionLink("Login","Login","Login",null,null)
	</li>
</ul>

<div>
	<h2 style="color:purple; text-align:center" ><b>Online Wallet System</b></h2>
</div>