
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/shared/_site.cshtml";
}

<h2>Home</h2>

<p>
    Hello, I really really love South korea, but i love my country India the most, but there are no oppas here?!!What can i do.....!
</p>

@section adsSection{
    <div align="center">
        <img src="~/Images/subway.jpg" width="500" height="100" />
    </div>
         
         }