<form>
    <div>
        <h2>Login</h2>
        <dl>
            <dt>Username</dt>
            <dd><input type="text" /></dd>
            <dt>Password</dt>
            <dd><input type="password"</dd>
            <dt>Email</dt>
            <dd><input type="email"</dd>
        </dl>
        <button type="submit">Login</button>
    </div>
</form>
